<div class="container pt-5">
  <div class="row">
    <div class="col-md-4">
      <h3 class="border-b">新規予定</h3>
        <%= form_with(model: [@event], url: customer_events_path, local: true) do |f| %>

          <div class="time border-b">
            <div class="form-tag">日時</div>
            <%= f.date_select :date %>

          </div>

          <div class="title border-b">
            <div class="form-tag">予定</div>
            <span class="mr-2">
              <%= f.radio_button :schedule, Event.schedules.key(0) %>
              <%= f.label :schedule_available, Event.schedules_i18n[:available] %>
            </span>
            <span class="mr-2">
              <%= f.radio_button :schedule, Event.schedules.key(1) %>
              <%= f.label :schedule_practice, Event.schedules_i18n[:practice] %>
            </span>
            <span class="mr-2">
              <%= f.radio_button :schedule, Event.schedules.key(2) %>
              <%= f.label :schedule_golf, Event.schedules_i18n[:golf] %>
            </span>
            <span class="mr-2">
              <%= f.radio_button :schedule, Event.schedules.key(3) %>
              <%= f.label :schedule_other, Event.schedules_i18n[:other] %>
            </span>
          </div>

          <div class="content">
            <div class="form-tag">詳細</div>
            <%= f.text_area :description, style: 'width: 100%; height: 200px; resize: none;' %>
          </div>

          <div class="submit">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
      <br>
      <br>
      <div class="col-md-8">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div>
            <%= link_to event.schedule_i18n, customer_event_path(customer_id: @customer.id, id: event.id) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>