<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-7 pt-5">
      <h4 class="mb-4"><%= @group.name %>メンバー予定確認</h4>
      <%= form_with url: group_search_events_path(group_id: @group.id), method: :get, class: "mb-4" do |f| %>
        <%= f.hidden_field :group_id, value: @group.id %>
        <div class="form-row">
          <div class="form-group col-md-5">
            <%= f.label :start_date, "開始日" %>
            <%= f.date_field :start_date, class: "form-control" %>
          </div>
          <div class="form-group col-md-5">
            <%= f.label :end_date, "終了日" %>
            <%= f.date_field :end_date, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.submit "検索", class: "btn btn-primary mt-4" %>
          </div>
        </div>
      <% end %>
      <% if @available_events %>
        <div>
          <h1>検索結果</h1>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>日付</th>
                <% @group_members.each do |member| %>
                  <th><%= member.first_name %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @date_range.each do |date| %>
                <tr>
                  <td><%= date %></td>
                  <% @group_members.each do |member| %>
                    <td>
                      <% event = member.events.find_by(date: date) %>
                      <%= event&.schedule == "available" ? "〇" : "×" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>