<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 pt-5">
      <div class="mb-4">
        <h4 class="mb-3"><%= @group.name %></h4>
        <%= link_to "編集", edit_group_path(@group), class: "btn btn-success mr-2" %>
        <%= link_to "追加", group_customers_path(group_id: @group), class: "btn btn-success mr-2" %>
        <%= link_to "予定検索", group_search_events_path(group_id: @group), class: "btn btn-success" %>
      </div>
      <p class="mb-5"><%= @group.introduction %></p>
      
      <div style="max-height: 500px; overflow-y: auto;">
        <table class="table table-hover">
          <% @customers.each do |customer| %>
            <tr class="bg-white">
              <td class="align-middle d-flex">
                <%= link_to customer_path(customer.id) do %>
                  <%= image_tag customer.get_profile_image(70, 70), class: 'rounded-circle mr-2' %>
                  <%= customer.last_name %><%= customer.first_name %>
                <% end %>
                <div class="ml-auto">
                  <%= link_to "メンバーを削除する", group_customers_path(group_id: @group.id, id: customer.id), method: :delete, data: { confirm: "本当にこのメンバーを削除しますか?" }, class: "btn btn-danger" %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div style="height: 500px; overflow-y: auto;" class="card bg-white">
        <div class="card-body chats">
          <%= render 'public/chats/index', chats: @chats %>
        </div>
      </div>
      <div class="pt-5">
        <%= form_with model: [@chat], url: group_chats_path(@group), local: false do |f| %>
          <div class="form-group">
            <%= f.text_field :content, class: "form-control", placeholder: "メッセージを入力..." %>
          </div>
          <%= f.submit "送信", class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>