<% posts.each do |post| %>
  <hr style="border-top: 1px solid #eee;">
  <div>
    <%= link_to customer_path(post.customer) do %>
      <%= image_tag post.customer.get_profile_image(70, 70), class: "rounded-circle" %>
    <% end %>
    <%= post.customer.last_name %>　<%= post.customer.first_name %>　
    <%= post.created_at.strftime("%Y年%m月%d日") %><br>
    
    <%= link_to post_path(post), class: 'custom-black-link' do %>
      <%= post.body %>
      <% if post.get_post_image(100, 100) %>
        <%= image_tag post.get_post_image(100, 100) %>
      <% end %>
    <% end %>
    
    <span>
      <% if post.favorited_by?(current_customer) %>
        <%= link_to post_favorites_path(post, favorite_id), method: :delete do %>
          ♥<%= post.favorites.count %>
        <% end %>
      <% else %>
        <%= link_to post_favorites_path(post), method: :post do %>
          ♡<%= post.favorites.count %>
        <% end %>
      <% end %>
      <%= link_to new_post_comment_path(post) do %>
        コメント<%= post.comments.count %>
      <% end %>
    </span>
  </div>
<% end %>