<% if posts.present? %>
  <% posts.each do |post| %>
    <div class="post-card card">
      <div class="card-body">
        <div class="post-header">
          <div class="post-avatar">
            <%= image_tag post.customer.get_profile_image(70, 70), class: "rounded-circle" %>
          </div>
          <div>
            <%= link_to customer_path(post.customer) do %>
              <%= post.customer.last_name %> <%= post.customer.first_name %>
            <% end %>
            <small class="text-muted ml-3"><%= post.created_at.strftime("%Y年%m月%d日") %></small>
          </div>
        </div>
        <hr>
        <div class="post-content">
          <%= link_to post_path(post), class: 'custom-black-link' do %>
            <p><%= post.body %></p>
            <% if post.get_post_image(100, 100) %>
              <%= image_tag post.get_post_image(100, 100), class: 'img-fluid rounded' %>
            <% end %>
          <% end %>
        </div>
        <div class="post-actions mt-3 d-flex justify-content-end">
          <% if current_customer %> <!-- ユーザーがログインしている場合のみリンクの表示 -->
            <% if post.favorited_by?(current_customer) %>
              <%= link_to post_favorites_path(post), method: :delete, class: 'btn btn-outline-danger btn-sm mr-3' do %>
                ♥ <%= post.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(post), method: :post, class: 'btn btn-outline-primary btn-sm mr-3' do %>
                ♡ <%= post.favorites.count %>
              <% end %>
            <% end %>
            <%= link_to new_post_comment_path(post), class: 'btn btn-outline-secondary btn-sm' do %>
              コメント <%= post.comments.count %>
            <% end %>
          <% else %>
            <span class="text-muted mr-3">♡ <%= post.favorites.count %></span>
            <span class="text-muted">コメント <%= post.comments.count %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
