<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex ml-auto mb-2 mt-1">
      <%= render 'public/search/post_form' %>
    </div>
  </div>
  
  
  
  <div class="row d-flex justify-content-center">
    <div class="col-lg-7 pt-5">
      <div>
        <h4>投稿詳細</h4>
      </div>
      <div class="post-card card" id="post_<%= @post.id %>">
        <div class="card-body">
          <div class="post-header">
            <div>
              <%= link_to customer_path(@post.customer) do %>
                <span class="post-avatar">
                  <%= image_tag @post.customer.get_profile_image(70, 70), class: "rounded-circle" %>
                </span>
                <span class="text-dark"><%= @post.customer.last_name %> <%= @post.customer.first_name %></span>
              <% end %>
              <small class="text-muted ml-3 pr-5"><%= @post.created_at.strftime("%Y年%m月%d日") %></small>
              <% if current_customer && @post.customer == current_customer%>
                <span>
                  <%= link_to edit_post_path(@post), method: :get, class: 'ml-5 mr-3 text-success' do %>
                    編集
                  <% end %>
                  <%= link_to post_path(@post), method: :delete, class: 'text-danger', data: { confirm: '本当に削除しますか？' } do %>
                    削除
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
          <hr>
          <div class="post-content">
            <p class ><%= @post.body %></p>
            <% if @post.get_post_image(400) %>
              <%= image_tag @post.get_post_image(400), class: 'img-fluid rounded' %>
            <% end %>
          </div>
          <div class="post-actions mt-3 d-flex justify-content-end">
            <% if current_customer %> <!-- ユーザーがログインしている場合のみリンクの表示 -->
              <%= render "public/favorites/favorite-btn", post: @post %>
              <%= link_to new_post_comment_path(@post), class: 'text-info' do %>
                コメント <%= @post.comments.count %>
              <% end %>
            <% else %>
              <span class="text-muted mr-3">♡ <%= @post.favorites.count %></span>
              <span class="text-muted">コメント <%= @post.comments.count %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 mb-2 mt-1">
      <%= render "public/comments/index", comments: @comments %>
    </div>
  </div>
</div>