<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <h1 class="mb-4">ゴルフ場検索</h1>
      
      <%= form_tag('/golf_courses/search', method: 'get', class: 'mb-4') do %>
        <div class="mb-3">
          <%= label_tag 'keyword', 'キーワード' %>
          <%= text_field_tag 'keyword', params[:keyword], class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= label_tag 'areaCode', 'エリア' %>
          <%= select_tag 'areaCode', options_for_select(@area_codes, params[:areaCode].to_i), class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= label_tag 'sort', '並び順' %>
          <%= select_tag 'sort', options_for_select(@sort_options, params[:sort]), class: 'form-control' %>
        </div>
        
        <%= submit_tag '検索', class: 'btn btn-primary' %>
      <% end %>

      <% if @results %>
        <h2 class="mb-4">ゴルフ場検索結果</h2>
        <% if @results.present? %>
          <div class="row">
            <% @results.each do |result| %>
              <div class="col-md-4 mb-4">
                <div class="card">
                  <img src="<%= result['golfCourseImageUrl'] %>" alt="<%= result['golfCourseName'] %>" class="card-img-top" style="max-height: 200px; width: auto;">
                  <div class="card-body">
                    <h5 class="card-title"><%= result['golfCourseName'] %></h5>
                    <p class="card-text">
                      <strong>住所:</strong> <%= result['address'] %><br>
                      <strong>評価:</strong> <%= result['evaluation'] %><br>
                    </p>
                    <%= link_to '詳細を見る', golf_course_path(result["golfCourseId"]) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="alert alert-warning" role="alert">
            該当するゴルフ場が見つかりませんでした。
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>