<% comments.each_with_index do |comment, index| %>
  <div class="post-card card">
    <div class="card-body">
      <div class="post-header">
        <%= link_to customer_path(comment.customer) do %>
          <span class="post-avatar">
            <%= image_tag comment.customer.get_profile_image(50, 50), class: "rounded-circle" %>
          </span>
          <span class="text-dark"><%= comment.customer.last_name %>　<%= comment.customer.first_name %></span>
        <% end %>
        <small class="text-muted ml-3"><%= comment.created_at.strftime("%Y年%m月%d日") %></small>
      </div>
      <hr>
      <div class="post-content">
        <%= comment.body %>
        <% if comment.customer_id == current_customer.id %>
          <span class="float-right">
            <%= link_to edit_post_comment_path(comment.post_id, comment.id), class: 'ml-5 mr-3 text-success' do %>
              編集
            <% end %>
            <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, class: 'text-danger', data: { confirm: '本当に削除しますか?' } do %>
              削除
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

<% end %>