<% comments.each_with_index do |comment, index| %>
  <div class="post-card card">
    <div class="card-body">
      <div class="post-header">
        <%= link_to customer_path(comment.customer) do %>
          <span class="post-avatar">
            <%= image_tag comment.customer.get_profile_image(50, 50), class: "rounded-circle" %>
          </span>
          <span class="text-dark"><%= comment.customer.last_name %>　<%= comment.customer.first_name %></span>
        <% end %>
        <small class="text-muted ml-3"><%= comment.created_at.strftime("%Y年%m月%d日") %></small>
      </div>
      <hr>
      <div class="post-content">
        <%= comment.body %>
        <% if comment.id == current_customer %>
          <%= link_to edit_post_comment_path(comment.post_id, comment.id) do %>
            コメントを編集
          <% end %>
          <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, data: { confirm: '本当に削除しますか?' } do %>
            コメントを削除
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
<% end %>