<% if posts.present? %>
  <% posts.each do |post| %>
    <div class="post-card card" id="post_<%= post.id %>">
      <div class="card-body">
        <div class="post-header">
          <div>
            <%= link_to admin_customer_path(post.customer), class: "text-dark" do %>
              <span class="post-avatar">
                <%= image_tag post.customer.get_profile_image(70, 70), class: "rounded-circle" %>
              </span>
              <%= post.customer.last_name %> <%= post.customer.first_name %>
            <% end %>
            <small class="text-muted ml-3"><%= post.created_at.strftime("%Y年%m月%d日") %></small>
          </div>
        </div>
        <hr>
        <div class="post-content">
          <%= link_to admin_post_path(post) do %>
            <p class="text-dark"><%= post.body %></p>
            <% if post.get_post_image(400) %>
              <%= image_tag post.get_post_image(400), class: 'img-fluid rounded' %>
            <% end %>
          <% end %>
        </div>
        <div class="post-actions mt-3 d-flex justify-content-end">
          <span class="text-muted mr-3">♡ <%= post.favorites.count %></span>
          <span class="text-muted">コメント <%= post.comments.count %></span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>