<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-7 mx-auto py-2">
  <div class="d-flex justify-content-between align-items-center border rounded p-3 shadow-sm bg-white">
    <div>
      <%= link_to customer_path(visitor) do %>
        <strong class="text-primary"><%= visitor.last_name %><%= visitor.first_name %></strong>
      <% end %>
      <span>
        <%= 'さんが' %>
        <% case notification.action %>
          <% when 'follow' %>
            <%= "あなたをフォローしました" %>
          <% when 'like' %>
            <%= link_to 'あなたの投稿', notification.post, class: "text-success" %>にいいねしました
          <% when 'comment' %>
            <% if notification.post.customer_id == visited.id %>
              <%= link_to "あなたの投稿", notification.post, class: "text-info" %>
            <% else %>
              <%= link_to post_path(notification.post) do %>
                <strong class="text-warning"><%= notification.post.customer.last_name %><%= notification.post.customer.first_name %>さんの投稿</strong>
              <% end %>
            <% end %>
            <%= "にコメントしました" %>
            <blockquote class="small mt-2 mb-0 pl-3 border-left">
              <p class="mb-0 text-muted"><%= Comment.find_by(id: notification.comment_id)&.body %></p>
            </blockquote>
        <% end %>
      </span>
    </div>
    <div class="small text-muted">
      <%= time_ago_in_words(notification.created_at).upcase %>前
    </div>
  </div>
</div>