<!DOCTYPE html>
<html>
  <head>
    <title>GolfMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1ab6fbbc52.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg">
        <div class="container d-flex justify-content-between align-items-center">

          <%= link_to root_path, class: "mx-0" do %>
            <%= image_tag "golfmate.png", alt: "LOGO", size: "150x58" %>
          <% end %>
          <% if customer_signed_in? %>
            <div class="d-flex align-items-center justify-content-center pt-2" style="flex: 1;">
              <p class="text-secondary">ようこそ、<%= current_customer.last_name %> さん！</p>
            </div>
          <% end %>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "投稿一覧", admin_root_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn nav-link ml-2" %>
                </li>
              <% elsif customer_signed_in? %>
                <li class="nav-item">
                  <%= link_to "マイページ", customer_path(current_customer.id), class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to notifications_path, class: "btn nav-link ml-2" do %>
                    <% if unchecked_notifications.any? %>
                      <span class="fa-stack">
                        <i class="far fa-bell fa-lg"></i>
                        <i class="fas fa-circle n-circle fa-stack-1x"></i>
                      </span>
                    <% else %>
                      <i class="far fa-bell fa-lg"></i>
                    <% end %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to "ゴルフ場検索", golf_courses_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ユーザー一覧", customers_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn nav-link ml-2" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "ゴルフ場検索", golf_courses_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "btn nav-link ml-2" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if notice || alert %>
      <span class="flash"><%= notice %></span>
      <span class="flash text-danger"><%= alert %></span>
    <% end %>
    <div class="body_item">
      <%= yield %>
    </div>
    
  </body>
</html>
