<!DOCTYPE html>
<html>
  <head>
    <title>GolfMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1ab6fbbc52.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container d-flex justify-content-between align-items-center">

          <%= link_to root_path, class: "mx-0" do %>
            <%= image_tag "no_image.png", alt: "LOGO", size: "90x65" %>
          <% end %>
          <% if customer_signed_in? %>
            <div class="d-flex align-items-center justify-content-center" style="flex: 1;">
              <p class="mx-2 text-secondary p-centered">ようこそ、<%= current_customer.last_name %> さん！</p>
            </div>
          <% end %>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <% if request.fullpath.include? "/admin" %>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", admin_root_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "会員一覧", admin_customers_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn nav-link ml-2" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "マイページ", customer_path(current_customer.id), class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ユーザー一覧", customers_path, class: "btn nav-link ml-2" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn nav-link ml-2" %>
                  </li>
                <% end %>
              <% elsif customer_signed_in? %>
                <li class="nav-item">
                  <%= link_to "マイページ", customer_path(current_customer.id), class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ユーザー一覧", customers_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn nav-link ml-2" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn nav-link ml-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "btn nav-link ml-2" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <span class="flash"><%= notice %></span>
    <div>
      <%= yield %>
    </div>
    
  </body>
</html>
